--- 
title: Drpz
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="chaffinchAsset(/tailwind.css)"/>
    <link rel="stylesheet" type="text/css" href="chaffinchAsset(/main.css)"/>
    <script module src="chaffinchAsset(/lazypicture.js)"></script>
  </head>
  <body class="dark-mode:bg-gray-900">
    {{ content | safe }}
  </body>
</html>