--- 
title: Drpz
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="chaffinchAsset(/tailwind.css)"/>
    <link rel="stylesheet" type="text/css" href="chaffinchAsset(/main.css)"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script module src="chaffinchAsset(/lazypicture.js)"></script>
  </head>
  <body class="dark-mode:bg-gray-900 text-gray-900 dark-mode:text-gray-100">
    {{ content | safe }}
  </body>
</html>