<html lang="en">
  <head>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyADp__FElDxpMUnGJE7OcQ7wyI128k0ckc",
        authDomain: "adobe-login-c2203.firebaseapp.com",
        databaseURL: "https://adobe-login-c2203.firebaseio.com",
        projectId: "adobe-login-c2203",
        storageBucket: "adobe-login-c2203.appspot.com",
        messagingSenderId: "451348658308",
        appId: "1:451348658308:web:058d1a942b248d2e0eaad1"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
  </head>
  <body>
    <h1>Sign in</h1>
  </body>
</html>