---
title: "Photo Box"
layout: main
---
<main class="mx-8 md:mx-12 lg:mx-16 mt-2 mb-8 stack">
  <h1 class="dark-mode:text-white text-3xl font-thin font-sans">{{ title }}</h1>
  {% for image in images %}
    {% set path %}./img/{{image.file}}{% endset %}
    {% set abspath %}./src/img/{{image.file}}{% endset %}
    <div>
      <figure class="mx-auto block lg:flex items-end justify-center" >
        <div class="flex-1 pb-4 lg:border-b border-black dark-mode:border-gray-100">
          <lazy-picture
              aspect={{ abspath | aspect }} 
              bg="{{abspath | blurPreview }}"
              class="w-full h-full"
              alt={{ image.description }}
              src="img-1200({{ path }})"
              sizes='{"1200": "img-2400({{ path }})", "800": "img-1600({{ path }})", "600": "img-1200({{ path }})", "400": "img-800({{ path }})"}'
            ></lazy-picture>
          <noscript>
            <img src="chaffinchAsset({{ path }})" alt="{{image.description}}"></img>
          </noscript>

        </div>
        <figcaption class="lg:pl-4 w-full lg:w-40 text-sm align-baseline flex flex-0 lg:block items-start justify-between w-40 ">
          <div class="order-2 text-right lg:text-left">
            <p class="uppercase hidden lg:block tracking-wide text-gray-900 dark-mode:text-gray-100 text-xs">{{ abspath | exif(["image.Make", "image.Model"]) }}</p>
            <p class="text-gray-800 dark-mode:text-gray-200 text-xs whitespace-no-wrap">
              <span class="text-gray-700 dark-mode:text-gray-300 tracking-wide">FL </span>
              {{ abspath | exif("exif.FocalLength") }}
              &bull;
              <span class="text-gray-700 dark-mode:text-gray-300 tracking-wide ">A </span>
              {{ abspath | exif("exif.FNumber") }}
              &bull;
              <span class="text-gray-700 dark-mode:text-gray-300  tracking-wide ">Sh. </span>
              {{ abspath | exif("exif.ShutterSpeedValue") }}</p>
          </div>
          <div class="order-1">
            <h2 class="flex items-center max-w-sm dark-mode:text-white">{{image.description}}
              <a class="pl-1" aria-label="Permalink" href="/images/{{ image.description | slug }}">
                <svg class="height-1em width-1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 007.54.54l3-3a5 5 0 00-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 00-7.54-.54l-3 3a5 5 0 007.07 7.07l1.71-1.71"/></svg>
              </a>
            </h2>
            <p class="italic text-gray-800 dark-mode:text-gray-200 text-sm">{{ abspath | exif("exif.DateTimeOriginal") | date("",":") }}</p>
          </div>
        </figcaption>
      </figure>
    </div>
  {% endfor %}

</main>