---
title: "Photo Box"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="chaffinchAsset(/tailwind.css)"/>
    <link rel="stylesheet" type="text/css" href="chaffinchAsset(/main.css)"/>
  </head>
  <body>
    <main class="w-full">
      <h1 class="w-full lg:w-4/5 mx-auto p-4 text-3xl font-thin font-sans">{{ title }}</h1>
      {% for image in images %}
        {% set path %}./img/{{image.file}}{% endset %}
        {% set abspath %}./src/img/{{image.file}}{% endset %}
        <figure class="w-full lg:w-4/5 mx-auto p-2 block md:flex items-end justify-center" >
          <div class="flex-1 pb-4 border-b border-black">
            <div
          data-src="img-1200({{ path }})" 
          data-sm="img-700({{ path }})"
          data-md="img-800({{ path }})"
          data-lg="img-1200({{ path }})"
          data-alt="{{image.description}}" 
          data-aspect={{ abspath | aspect }} 
          data-bg="{{abspath | blurPreview }}"
          class="lazy w-full h-full"
        >
              <noscript>
                <img src="chaffinchAsset({{ path }})" alt="{{image.description}}"></img>
              </noscript>
            </div>

          </div>
          <figcaption class="md:pl-4 w-40 ">
            <p class="uppercase tracking-wide text-gray-900 text-xs">{{ abspath | exif(["image.Make", "image.Model"]) }}</p>
            <p class="text-gray-800 text-xs whitespace-no-wrap">
              <span class="text-gray-700 tracking-wide">FL </span>
              {{ abspath | exif("exif.FocalLength") }}
              &bull;
              <span class="text-gray-700 tracking-wide ">A </span>
              {{ abspath | exif("exif.FNumber") }}
              &bull;
              <span class="text-gray-700 tracking-wide ">Sh. </span>
              {{ abspath | exif("exif.ShutterSpeedValue") }}</p>
            <h2 class="">{{image.description}}</h2>
            <p class="italic text-gray-800 text-sm">{{ abspath | exif("exif.DateTimeOriginal") | date("",":") }}</p>
          </figcaption>
        </figure>
      {% endfor %}

    </main>
    <script defer src="chaffinchAsset(/index.js)"></script>
  </body>
</html>